p { text-align:left; font-size:smaller; } 

pre { font-size:large; }

/* .reveal h1 { font-size:100%; } */
.reveal boxed { border: 1px solid red; } 

/*
.reveal table, th, td {
   border-collapse: collapse;
   border: 1px solid black;
   vertical-align: top;
}
.reveal td { vertical-align:top; }
*/

