p { text-align:left; font-size:smaller; } 

pre { font-size:large; }

.reveal h2 { font-size:120%; } 
.reveal boxed { border: 1px solid red; } 

/*
.reveal table, th, td {
   border-collapse: collapse;
   border: 1px solid black;
   vertical-align: top;
}
.reveal td { vertical-align:top; }
*/


.reveal section img { background:none; border:none; box-shadow:none; }
